{% assign meta = site.data.posts %}

<div class="row text-center">
  <div class="col-md-8 offset-md-2 col-10 offset-1">
    <h1>{{ meta.blog.heading[page.lang] | escape }}</h1>
      {% capture atom %}<a rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/{{ page.lang }}/atom/blog-feed.xml"><i class="icon-rss"></i>{% endcapture %}
      {% capture rss %}<a rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/{{ page.lang }}/rss/blog-feed.xml"><i class="icon-rss"></i>{% endcapture %}
      <p class="lead">{{ meta.blog.lead[page.lang] | replace: '<atom>', atom | replace: '</atom>', '</a>' | replace: '<rss>', rss | replace: '</rss>', '</a>' }}</p>
  </div>
</div>

{% assign page_baseurl = site.baseurl %}
{% for post in site.posts %} {% if post.lang == page.lang and post.layout == 'blog-post' %}
<div class="row my-2">
  <div class="col-lg-2 offset-lg-2 col-md-3 offset-md-1 col-10 offset-1"> 
    <figure class="figure">
      <img class="figure-img img-fluid" src="{{ site.baseurl }}{{ post.teaser-figure }}.min.png" alt="teaser figure" />
    </figure>
  </div>
  <div class="col-lg-6 col-md-7 offset-md-0 col-10 offset-1">
    <h4><a href="{{ page_baseurl }}{{ post.url }}">{{ post.title | escape }}</a></h4>
    <p>{{ post.abstract | strip_html | truncatewords:44, ' &hellip; ' }}<a href="{{ page_baseurl }}{{ post.url }}">{{ meta.read_more[page.lang] }}</a></p>
  </div>
</div>
{% endif %} {% endfor %}
