
<div class="row">
    <div class="col-md-6 col-12 figure2"><figure class="figure">
        {% assign svg_alt = fig_alt1 %}
        {% assign svg_src = fig_src1 %}
        {% include svg.html %}
        <figcaption class="figure-caption">{{ fig_cap1 }}</figcaption>    
    </figure></div>
    <div class="col-md-6 col-12 figure2"><figure class="figure">
        {% assign svg_alt = fig_alt2 %}
        {% assign svg_src = fig_src2 %}
        {% include svg.html %}
        <figcaption class="figure-caption">{{ fig_cap2 }}</figcaption>    
    </figure></div>
</div>
