
<div class="row">
    <div class="col-md-3 col-12 figure4"><figure class="figure">
        {% assign svg_alt = fig_alt1 %}
        {% assign svg_src = fig_src1 %}
        {% include svg.html %}
        <figcaption class="figure-caption">{{ fig_cap1 }}</figcaption>    
    </figure></div>
    <div class="col-md-3 col-12 figure4"><figure class="figure">
        {% assign svg_alt = fig_alt2 %}
        {% assign svg_src = fig_src2 %}
        {% include svg.html %}
        <figcaption class="figure-caption">{{ fig_cap2 }}</figcaption>    
    </figure></div>
    <div class="col-md-3 col-12 figure4"><figure class="figure">
        {% assign svg_alt = fig_alt3 %}
        {% assign svg_src = fig_src3 %}
        {% include svg.html %}
        <figcaption class="figure-caption">{{ fig_cap3 }}</figcaption>    
    </figure></div>
    <div class="col-md-3 col-12 figure4"><figure class="figure">
        {% assign svg_alt = fig_alt4 %}
        {% assign svg_src = fig_src4 %}
        {% include svg.html %}
        <figcaption class="figure-caption">{{ fig_cap4 }}</figcaption>    
    </figure></div>
    <div class="col-12 figure4"><figcaption class="figure-caption">{{ fig_cap }}</figcaption></div> 
</div>
